fastapi==0.110.0
uvicorn==0.27.1
python-multipart
pillow
numpy==1.26.4
opencv-python-headless==4.9.0.80
ultralytics==8.0.196

torch==2.0.1+cpu
torchvision==0.15.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
